<!-- IF S_PROCOM_VIEW -->
	<!-- IF S_PROCOM_POST -->
		<div class="panel bg2">
			<div class="inner">
				<h3>{L_PROCOM_POST_COMMENT}</h3>
				<form class="submit-profile-comment-form" method="post" action="">
					<div class="submit-profile-comment-wrapper">
						<textarea name="message" class="submit-profile-comment-message"></textarea>
					</div>
					<fieldset class="submit-buttons">
						<input type="submit" name="submit" class="button1" value="{L_SUBMIT}" />
						<input type="reset" name="reset" class="button2" value="{L_RESET}" />
					</fieldset>
				</form>
			</div>
		</div>
	<!-- ENDIF -->

	<div class="panel bg2">
		<div class="inner">
			<h3>{L_PROFILE_COMMENTS}</h3>

			<!-- BEGIN profile_comments -->
				<div class="profile-comment">
					<div class="inner">
						<dl class="profile-comment-profile">
							<dt class="profile-comment-avatar">
								{profile_comments.AVATAR} <br />
								{profile_comments.USERNAME_FROM}
							</dt>
						</dl>
						<div class="profile-comment-body">
							<div class="profile-comment-tools-bar clearfix">
								<span class="profile-comment-time">{profile_comments.TIME}</span>
								<ul class="profile-comment-tools">
									<!-- IF profile_comments.SOFT_DELETED && S_PROCOM_SOFT_DEL -->
										<li>
											<a href="{profile_comments.U_S_RESTORE}" class="button icon-button info-icon"><span>{L_PROCOM_RESTORE}</span></a>
										</li>
									<!-- ELSEIF profile_comments.CAN_S_DEL && not profile_comments.SOFT_DELETED -->
										<li>
											<a href="{profile_comments.U_S_DEL}" class="button icon-button delete-icon"><span>{L_DELETE}</span></a>
										</li>
									<!-- ENDIF -->
									<!-- IF profile_comments.CAN_S_EDIT -->
										<li>
											<a href="{profile_comments.U_S_RAW}" class="procom-edit button icon-button edit-icon"><span>{L_PROCOM_EDIT}</span></a>
										</li>
									<!-- ENDIF -->
								</ul>
							</div>
							<div class="profile-comment-body-message">
								<!-- IF profile_comments.SOFT_DELETED -->
									<div class="soft-deleted">{L_PROCOM_IS_SOFT_DELETED}</div>
									<br />
								<!-- ENDIF -->
								
								<div class="profile-comments-editor" id="procom_editor_{profile_comments.ID}">
									<form action="{profile_comments.U_S_EDIT}" method="post">
										<textarea id="procom_{profile_comments.ID}" class="profile-comments-editor-text" name="message"></textarea>
										<input type="hidden" name="edit" value="1" />
										<fieldset class="submit-buttons">
											<input type="submit" class="button1" name="submit" value="{L_SUBMIT}" />
										</fieldset>
									</form>
								</div>

								<div class="profile-comment-body-message-text" id="procom_text_{profile_comments.ID}">
									{profile_comments.MESSAGE}

									<div class="profile-comment-replies">
										<!-- BEGIN replies -->
											<div class="profile-comment-reply">
												<div class="profile-comment-reply-info">
													<!-- IF replies.SOFT_DELETED -->
														<span class="profile-comment-reply-soft-deleted">
															[{L_PROCOM_SOFT_DELETED}]
														</span>
													<!-- ENDIF -->
													{replies.USERNAME_FROM} - 
													<span class="profile-comment-reply-timestamp">
														{replies.TIME}
														<!-- IF replies.CAN_S_DEL -->
															<!-- IF replies.SOFT_DELETED -->
																[<a href="{replies.U_S_RESTORE}">{L_PROCOM_RESTORE}</a>]
															<!-- ELSE -->
																[<a href="{replies.U_S_DEL}">{L_DELETE}</a>]
															<!-- ENDIF -->
														<!-- ENDIF -->
													</span>
												</div>
												<div class="profile-comment-reply-message">
													{replies.MESSAGE}
												</div>
											</div>
										<!-- END replies -->
										
										<div class="profile-comment-reply-form">
											<form method="post" action="">
												<input class="profile-comment-reply-input" type="text" name="message" value="" />
												<input type="hidden" name="comment_id" value="{profile_comments.ID}" />
												<input type="hidden" name="reply" value="reply" />
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr />
			<!-- END profile_comments -->

			<div class="pagination">
				<!-- IF .pagination -->
					<!-- INCLUDE pagination.html -->
				<!-- ELSE -->
					{PAGE_NUMBER}
				<!-- ENDIF -->
			</div>
		</div>
	</div>
<!-- ENDIF -->