.submit-profile-comment-form {
	
}

.submit-profile-comment-wrapper {
	margin-top: 5px;
	width: 100%;
	padding: 5px 0;
	box-sizing: border-box;
}

.submit-profile-comment-message {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
}

.profile-comment-profile {
	border: 1px solid #fff;
	border-width: 0 0 0 1px;
	padding: 10px 5px 10px 10px;
	display: inline-block;
	width: 18%;
	float: right;
	text-align: left;
	box-sizing: border-box;
}
.profile-comment-avatar img {
	max-width: 70px;
	max-height: 70px;
	width: auto;
	height: auto;
}

.profile-comment-body {
	float: left;
	width: 81%;
	display: inline-block;
	box-sizing: border-box;
}

.profile-comment-tools-bar {
	position: relative;
}
.profile-comment-tools a span {
	font-size: 70%;
}
.profile-comment-time {
	float: left;
	padding: 3px;
	font-size: 90%;
}

.profile-comment-tools-wrapper {

}
.profile-comment-tools {
	display: inline-block;
	text-align: right;
	float: right;
	list-style-type: none;
}
.profile-comment-tools li {
	display: inline-block;
}

.profile-comments-editor
{
	display: none;
}
.profile-comments-editor-text
{
	width: 100%;
	box-sizing: border-box;
	height: 100px;
}

.profile-comment-body-message-text
{
}

.profile-comment-body-message {
	padding: 7px 10px;
	font-size: 120%;
}
.profile-comment-body-message .soft-deleted {
	padding: 5px;
	background-color: #ECD5D8;
	display: inline-block;
	margin: 1px 0 6px 0;
}

.profile-comment-replies {
	margin-top: 15px;
	margin-left: 5px;
}
.profile-comment-reply {
	margin-top: 5px;
	padding: 5px 5px 5px 10px;
	border-left: #777 1px solid;
}
.profile-comment-reply-soft-deleted {
	color: red;
}
.profile-comment-reply-info {
	font-size: 80%;
}
.profile-comment-reply-timestamp {

}
.profile-comment-reply-message {

}

.profile-comment-reply-form {
	margin-top: 5px;
	padding: 5px 5px 5px 10px;
	border-left: #777 1px solid;
}
.profile-comment-reply-input {
	padding: 2px;
	width: 400px;
}
.profile-comment-reply-form .submit-buttons {
	text-align: left !important;
}
.profile-comment-reply-form .submit-buttons input {
	font-size: 80% !important;
	padding: 5px !important;
}